/* buttons and control elements */

.btn {    
    padding-inline: 2em;
    padding-block: 1em;
    border-radius: 20px;
    background-color: var(--btn-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: hsl(0, 0%, 76%);
}

.btn:active {
    background-color: hsl(0, 0%, 56%);
}


.reset_btn, .refresh_btn {
    padding-inline: 1.25em;
    padding-block: 0.75em;
    font-size: 1rem;
}

.start_controls {
    align-self: center;
    border-radius: 20px;
    background-color: hsl(0, 0%, 90%);
    padding: 0.3em;
    display: grid;
    gap: 0.75em;
    place-items: center;
    transition: var(--transition);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main_title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

select {
    background-color: #ffffffe2;
    border-radius: 10px;
}

.checkbox_container {
    display: flex;
}

label[for="timer_options"] {
    margin-right: 0.5em;
}

#timer_options {
    cursor: pointer;
    accent-color: var(--card-back-color);
    scale: 1.6;
}

.game_options {
    text-align: center;
}

.game_controls {
    max-width: 80%;
    text-align: center;
    justify-self: center;
    align-self: start;

    /* required value! */
    /* display: grid; */
    gap: 0.75rem;
    transition: var(--transition-linear);

    /* remove after start! */
    display: none;
}

.hide {
    translate: 100vw;
    scale: 0;
    transition: translate 800ms linear, scale 800ms linear;
}

.start_controls.hide {
    scale: 0;
}

.game_container.hide {
    translate: 0;
    opacity: 0;
    transition: scale 400ms linear, opacity 200ms linear;
}