@media (min-width: 768px) {
    .wrapper {
        place-items: center;
        grid-template-columns: 20% 1fr 20%;
        /* justify-content: center; */
    }

    .start_controls {
        grid-column: 2/3;
    }

    .game_container {
        grid-column: 2;
        justify-items: center;
    }

    .game_controls .btn {
        font-size: 0.75rem;
    }

    .game_controls {
        align-self: center;
    }

    .game_options {
        text-align: center;
        display: grid;
        gap: 0.3em;
    }
}